nav .brand{
   left:42%;
}


.example {
    position: relative;
}

.example .word {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    color: white;
}

.example .word p{
    position:relative;
}

.example .word p:first-child{
    right:30%;
}

.example .word p:nth-child(2){
    right:18%;
}
.example .word p:last-child{
    left:80%;
}

.example img {
    width: 100%;
}

.strong{
    font-size: 30px;
}

.media{
    margin: 3% auto !important;
}

.card{
    margin: 0 auto;
}

article{
    margin-bottom: 3% !important;
}

footer{
    font-size: 80%; /*フォントサイズの指定*/
    width: 100%;    /*横幅の指定*/
    text-align: center; /*文字の中央寄せ*/
    padding-top: 10px;  /*文字上部の余白指定*/
    padding-bottom: 10px;   /*文字下部の余白指定*/
    background-color: #313131;  /*背景色の指定*/
}
footer address{
    color: #fff;    /*文字色の指定*/
    letter-spacing: 2.5px;    /*文字と文字の間隔をあける*/
    font-style: normal; /*文字の斜体を取り消す*/
}
